/* fazer o css */
.customers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.customersTable {
  width: 80%;
  margin-bottom: 100px;
}

thead {
  background-color: #8d99ae;
}

td {
  text-align: center;
  background-color: #8d99ae;
}

table {
  width: 100%;
}

.registerCustomers {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  width: 50%;
  margin: auto;
}

h2 {
  text-align: center;
}

.sbtBtn {
  margin: 5px;
}

.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}