header{
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  background-color: #8d99ae;
}

.title {
  display: flex;
  margin-left: 50px;
  align-items: flex-start;
  flex-flow: column;
}

#sharenergyLogo {
  max-width: 200px;
  max-height: 50px;
  margin-bottom: 20px;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.logoutHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoutButton {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 20px;
}
