#userCardsDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px;
}

#searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pageButtons {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.previousButton {
  margin: 20px;
  width: 100px;
}

.nextButton {
  margin: 20px;
  width: 100px;
}